<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<div id="bier-gg-header" layout="row" layout-align="space-between center" data-ng-controller="MainCtrl">
    <div class="logo-container clickable" data-ng-click="goTo('/map')" layout="row" layout-align="start center">
        <span id="logo-1">{{'LOGO_1' | translate}}</span>
        <span id="logo-2" data-ng-show="width >= 800">{{'LOGO_2' | translate}}</span>
        <span id="logo-3" data-ng-show="width >= 800">{{'LOGO_3' | translate}}</span>
        <span id="logo-small" data-ng-show="width < 800">{{'LOGO_2_3_SHORT' | translate}}</span>
    </div>
    <div>
        &nbsp;
    </div>
</div>